.square_btn {
    padding: 0.25em 0.5em;
    color: #FFF;
    background: #00e6ae;
    transition: .4s;
    border: none;
    border-radius: 10px;
    outline: none;
    height: 50px;
    width: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    cursor: pointer;
  }

.square_btn:hover {
    background: #1ec7bb;
}

.connectBtnText {
  display: inline;
}

.imx_logo {
  height: 70%;
  filter: brightness(0.5);
}

.kolectiv_input {
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  height: 25px;
  padding: 0.5em;
  width: 200px;
}